.form GridPane.fields {

    -fx-padding: 1em;
    -fx-hgap: 3em;
    -fx-vgap: 0.5em;
    
}

.form VBox.fields {

    -fx-spacing: 0.5em;
    
}

.welcome {
    -fx-label-padding: 5em, 5em;
}

.elapsed, .flagged {

    -fx-font-family: 'fantasy';
    -fx-font-size: 150%;
    
}
